body {
	background: white;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #5396B7;
	font-weight: bold;
}

footer {
	background-color: #222121;
	height: 100px;
}

.container {
	margin: 0;
	width: 100%;
	padding: 0;
}

.row {
	margin: 0;
}

.body-content {
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-card {
	padding: 10px 20px 20px 20px;
}

.banner-wrap {
	background-size: cover;
	display: table;
	min-height: 450px;
	text-align: center;
	width: 100%;
	background-color: transparent;
	background-image: url('../content/header.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	padding: 0;
    box-shadow: 0px 1px 4px 0px #000000;
}

.main-header-text {
	font-size:100px;
  	padding-top:100px;
	color:white;
}

.main-header-sub-text {
	font-size:25px;
	color:white;
}

.copyright {
	margin-left: 15px;
}

.footer-text {
	font-size: 15px;
	color: #AD9C96;
	padding-top: 35px;
}

.fc-event-container {
	cursor: pointer;
}
@media (max-width: 991px) {
	.body-content {
		margin-top: 0;
		margin-bottom: 0px;
	}
	
	.main-header-text {
		font-size:60px;
  		padding-top:100px;
		color:white;
	}

	.main-header-sub-text {
		font-size:15px;
		color:white;
	}
	
	.copyright-wrapper {
		text-align: center;
	}
	
	.copyright {
		margin-left: 0;
	}
}

@media (max-device-width: 480px)
{
	.main-header-text {
		font-size:150px;
	}
	
	.main-header-sub-text {
		font-size:40px;
	}
}